.label {
  width: 220px;
  margin: auto;
  box-shadow: 2px 2px #999;
  font-family: avenir;
  background-color: #fafafa;
  color: #323232;
}

.frame {
  background-image: url("frame.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  width: 650px;
  margin: auto;
}

.work {
  padding: 80px 0 0 0;
}

input[type="button"] {
  margin: 0px;
  border: 0px;
  padding: 0;
  width: 100%;
  float: left;
}

.column {
  width: 5%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.halfColumn {
  width: 2.5%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.row{
  max-width: 500px;
  margin: 0 auto;
  border: 0;
  padding: 0;
}

#sel, #selTwo, #selThree, #selFour, #selFive, #selSix, #selSeven {
  display: none;
}



.blue {
  background-color: blue;
  height: 120px;
  display:
}

.blue2 {
  background-color: blue;
  height: 70px;
  display:
}

.blue7 {
  background-color: blue;
  height: 10px;
}

.red {
  background-color: red;
  height: 120px;
}

.redMiddle {
  background-color: red;
  height: 70px;
}

.red7 {
  background-color: red;
  height: 10px;
}

.black {
  background-color: black;
  height: 120px;
}

.black2 {
  background-color: black;
  height: 10px;
}

.black3 {
  background-color: black;
  height: 70px;
}

.yellow {
  background-color: yellow;
  height: 120px;
}

.yellow2 {
  background-color: yellow;
  height: 70px;
}

.yellow7 {
  background-color: yellow;
  height: 10px;
}

.white {
  background-color: white;
  height: 120px;
}

.white2 {
  background-color: white;
  height: 10px;
}

.white3 {
  background-color: white;
  height: 70px ;
}

.white4 {
  background-color: white;
  height: 70px;
}

.white7 {
  background-color: white;
  height: 10px;
}

.fullRow {
  width: 100%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.halfColumn2 {
  width: 2.5%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.thirtySevenPointFiveColumn {
  width: 37.5%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.sixtyTwoPointFiveColumn {
  width: 62.5%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.twentycolumn {
  width: 20%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}

.sixtyColumn {
  width: 60%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}


.seventeenPointFiveColumn {
  width: 17.5%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}


.fortyEightPointSevenFiveColumn {
  width: 48.75%;
  margin: 0;
  border: 0;
  border-style: solid;
  display: inline-block;
  padding: 0;
  float: left;
}
